{% extends "layout.html" %}

{% load crispy_forms_tags %}
{% block content %}

<div class="container overlay">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h4>Create Profile</h4>
            <hr>
            {{form.media}}
            <form method="post" class="form-group" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}

                <button class="btn btn-md main-action-button" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}