{% extends 'layout.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="container-fluid login-section">
        <div class="row">
            <div class="col-md-6 mx-auto" id="login-content">
                <h4>Login</h4>
                <hr>
                <form method="post" class="py-2">
                    {% csrf_token %}

                    {{ form | crispy }}

                    <div class="form-group my-4">
                        <button class="btn btn-md main-action-button" type="submit">Login</button>
                        <p>
                            <small class="text-muted ml-2"><a class="alt-action-link" href="{% url 'password_reset' %}">Forgot password?</a></small>
                        </p>
                    </div>

                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Don't have an account? <a class="alt-action-link" href="{% url 'register' %}">Register</a>
                        </small>
                    </div>
                                        
                </form>
            </div>
        </div>
    </div>
{% endblock %}