<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Email</title>
</head>
<body>
    <h2>Reset Password</h2>
    <p>Click <a href="{{link}}" style="margin:0px 5px;">here</a> to reset password</p>
</body>
</html>