{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container px-5">
        <form method="POST">
            {% csrf_token %}

            <fieldset class="form-group mt-3">
                <legend class="border-bottom mb-4">Reset Password</legend>
                <p id="password-check" style="color:red; display: none;">NO MATCH!</p>

                {{ form | crispy }}

            </fieldset>

            <div class="form-group">
                <button id="set-new-password" class="btn btn-outline-success float-right" type="submit">Reset Password</button>
            </div>
        </form>    

    </div>

{% endblock content %} 