{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <form method="POST" id="reset-password-form">
        <!--CSRF token -> Cross Site Request Forgery Token-->
            {% csrf_token %}

            <fieldset class="form-group mt-3">
                <legend class="border-bottom mb-4">Reset Password</legend>
                <p id="email-not-found" style="color: red;"></p>
                {{ form | crispy }}
                <p style="color:#0A7A1D; display: none;" id="validate-email-text">Validating email...</p>
            </fieldset>

            <div class="form-group">
                <a href="#" data-target="#modal" data-toggle="modal" class="btn btn-outline-success float-right" id="reset-password-btn" style="display: none;" type="submit">Request Password Reset</a>
            </div>
        </form>    
    </div>

    <div class="modal fade" id="modal" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times</button>
                </div>
                <div class="modal-body">
                   <p>A reset password link has been sent to your email.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}