{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid register-content">
    <div class="row">
        <div class="col-lg-7" id="register-intro">
            <h1 id="register-tagline">Where buyers meet sellers.</h1>
        </div>
        <div class="col-lg-5" id="register-section">

            <div class="border-bottom pt-3">
                <h4 id="register-title">Get Started</h4>
            </div>

            <form id="register-form" method="post">
                {% csrf_token %}
                {{form|crispy}}
                
                <button class="btn btn-md main-action-button" type="submit">Register</button>
            </form>

            <div class="border-top pt-3">
                <small class="text-muted">
                    Already have an account? <a class="alt-action-link" href="{% url 'login' %}">Login</a>
                </small>
            </div>

        </div>
    </div>
</div>
{% endblock %}