{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container overlay">
    <div class=" container col-md-8">
        {{form.media}}
        <h2>Update Profile</h2>
        <form action="{% url 'update_profile' %}" method="post" class="form-group" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
                
            <button class="btn btn-md main-action-button" type="submit">Update</button>
        </form>
    </div>
</div>
{% endblock %}