{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container profile-page">
    <div class="container col-sm-6">
        <div class="media">
            {% if user.profile.prof_image %}
            <img class="rounded-circle img-fluid profile-pic" style="height:200px; width: 200px;" src="{{ user.profile.prof_image }}">
            {% else %}
            <img class="rounded-circle img-fluid profile-pic" style="height:200px; width: 200px;" src="/static/images/default.svg">
            {% endif %}
        </div>

        <div class="media-body text-center mt-3">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p><span class="text-secondary">Email:</span> {{ user.email }}</p>
            <p><span class="text-secondary">Phone:</span> {{ user.profile.phone_number}}</p>

            <h3 class="text-secondary border-bottom mt-3">About</h3>
            <p>{{ user.profile.about }}</p>                
        </div>
        
        <div class="mt-5 centered">
            <a class="btn btn-outline-success" href="{% url 'update_profile' %}">Update Profile</a>        
            <a class="btn btn-md home-button" href="{% url 'index' %}">Go to market</a>
        </div>
    </div>
</div>
{% endblock %}