/* @import url('https://fonts.googleapis.com/css?family=Acme|Cabin+Condensed|Signika&display=swap'); */
/* 
	font-family: 'Signika', sans-serif;
	font-family: 'Acme', sans-serif;
	font-family: 'Cabin Condensed', sans-serif;
	
*/

*{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
}



p{
	margin:0;
}



html,body{
	overflow-x: hidden;
}


body {
	min-height: 100vh;
	margin: 0;	
	font-family: 'Signika', sans-serif;
}

/* font-family: 'Signika', sans-serif;
font-family: 'Roboto', sans-serif; */

.site-container{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.asteriskField{
	color:#0A7A1D;
}


/* navbar code */

.navbar{
    font-size: 1.5rem;
    background-color: #0A7A1D !important;
	color: white !important;
	padding: 0px;
	padding-left:50px;
	display: flex;
	align-items: center;
	height:80px;
}

.brand{
	flex: 2;
}

.navbar ul{
	display: flex;
	align-items: center;
	flex: 3;
	margin:0px;
	height:100%;
	list-style: none;
	justify-content: space-evenly;
}

.navbar ul a{
	color:#fff;
	text-decoration: none;
}

#user-section{
	/* background-color:#2e8351; */
	height:100%;
	display: flex;
	align-items: center;
	position: relative;
	width:200px;
}

.dropdown{
	display:none;
	position: absolute;
	top:80px;
	background-color: #243140;
	width:100%;
	padding:10px;
	z-index: 100;
}

#menu{
	display: none;
}

.small-menu{
	display: none;
}

#sd-cart{
	display: none;
}

.fa-cart-plus {
	margin-right: 50px;
	position: relative;
}

.cart-link {
	color: #fff;
}

.cart-count{
	position: relative;
	top: -9px;
	color: #FFEC01;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

/* end of navbar code */

#drop-down-icon {
	color:#FFEC01;
}

#nav-profile-pic {
	width:50px;
	height: 50px;
}

.profile-pic, .centered {
	margin: auto;
}

#sm-user-profile {
	width:50px;
	height: 50px;
}

/* end of navbar code */


/* main content code */

.content{
	flex:1;
}

.about-page {
	margin: auto;
	padding: 0px 25px;
	text-align: center;
}

/* end of main content code */


/* register page stuff */

.register-content{
	background-image: linear-gradient(to bottom ,rgba(0,0,0,.4),rgba(0,0,0,.8)), url("/static/images/products.jpg");
	background-size: cover;
	background-size: auto;
	min-height: 100vh;
	padding:10px 30px;
	background-color: #fff;
	color: #fff;
}

.register-content .row{
	display: flex;
	height:100vh;
	align-items: center;
}

#register-title {
	text-align: center;
}

#register-tagline {
	text-align: center;
}

#register-form {
	margin: 15px 0px;
	padding-bottom: 35px; 
}

/* end of register page code */

/* view profile page */
.profile-page {
	padding-top: 15px;
	padding-bottom: 25px;
	margin-bottom: 30px;
	margin: auto;
}

.home-button {
	background-color: #0A7A1D;
	color: white;
	float: right;
}

/* end of view profile page */


/* main buttons and alternative links */

.alt-action-link {
	color:#0A7A1D;
	text-decoration:none;
}

.main-action-button, #lipa {
	background-color: #0A7A1D;
	color: white;
	float: right;
	margin-right: 25px;
}

/* end of main buttons and alternative links */


/* login section code */

.login-section{
	background-image: none;
}

#login-content {
	background-color: #fff;
	margin-top: 15px;
}

#password-reset-link {
	text-decoration: none;
}

/* login section code */


/* products page code */

.product-link,.product-link:hover{
	text-decoration: none;
	color: black;
	display: block;
}

.product-section{
	max-height: 340px;
	min-height: 340px;
	margin-bottom: 20px;
	position: relative;
}

.image-wrapper{
	height:140px;
	width:100%;
	overflow: hidden;
}

.product-image{
	height:140px;
	width:100%;
}

.product-name{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 1s all ease;
}

.product-desc{
	max-height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
	transition: 1s all ease;
}

.more-link{
	display: block; 
	color: #0A7A1D;
	position: relative;
	top:-10px;
}

.order-button{
	background-color: #0A7A1D; 
	color: white; 
	position: absolute; 
	bottom:10px;
	right: 14px;
	float: right;
}

#addProduct {

	background-color: #0A7A1D; color: #fff;
}

#top-bar {
	display: flex;
	justify-content: space-between;
}

.overlay {
	padding-top: 15px;
	padding-bottom: 25px;
	margin-bottom: 50px;
}

#add-to-cart {
	float: right;
	margin-top: 20px;
	margin-right: 15px;
}

/* end of product code  */

/* cart code */
#proceed-checkout {
	position: relative;
	float: right;
	right: 15px;
}

/* end of cart code */
.item-section {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

/* footer code */

#footer {
	min-height: 80px;
	background : #243140 !important;
	color:#fff;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* end of footer code */


@media screen and (max-width:1024px){
	/* .navbar{
		padding: 0;
	} */

	.brand{
		flex: 1;
	}

	.navbar ul{
		flex: 2;
		/* font-size: 12px; */
	}

	.login-section{
		background-image: none;
	}

}

@media screen and (max-width:840px){

	/* navbar code */
	.navbar ul{
		justify-content: space-between;
		flex: 3;
	}

	/* register section code */

	.register-content{
		padding: 0px;
		color:#fff;
	}

	#register-section{
		width:80%;
		margin: auto;
	}

	/* end of register section code */

}


@media screen and (max-width:420px){

	/* navbar code */
	.navbar{
		padding:0px 10px;
	}


	.navbar ul{
		display: none;
	}

	#sd-cart{
		display: initial;
	}

	/* end of navbar code */


	/* hamburger code */

	.menu{
		display: initial;
		width:30px;
		height:30px;
	}

	.bar{
		height:5px;
		margin-bottom: 5px;
		background-color: #FFEC01;
	}

	/* .change{ */
		/* background-color: yellow; */
	/* } */

	.change #bar1{
		opacity: 0;
	}


	.change #bar3{
		transform: translateY(-10px) rotate(45deg);
	}

	.change #bar2{
		transform:rotate(-45deg);
	}



	/* end of hamburger code */

	/* small menu code */

	.small-menu{
		/* display: initial; */
		background-color: #243140;
		padding:20px;
		height:300px;
	}

	.small-menu ul{
		list-style: none;
	}

	.small-menu ul li a{
		text-decoration: none;
		color:white;
	}

	/* end of small menu code */


	/* register code */
	.register-content{
		background-image: none;
		color:#000;
	}

	#register-form{
		margin: 15px 0px;
		padding-bottom: 35px;
	}

	#register-intro {
		display: none !important;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	/* register code end */


	/* products section code */

	

	/* end of products code section */
}


@media screen and (max-width:900px) and (max-height:375px){
	.register-content{
		background-image: none;
	}

	#text-section{
		display: none !important;
	}

	#footer{
		display: none;
	}
}
