{% extends 'layout.html' %}

{% block content %}

    <div class="container overlay about-page">

        <div class="alert alert-success">
            <h4 class="text-center">Welcome to MazaoSoko</h4>
        </div>

        <h2>Our Vision</h2>
        <p class="mb-3">To be the leading agribusiness  e-commerce  solutions provider in Africa.</p>

        <h2>Our Mission</h2>
        <p class="mb-3">
            To help farmers get market for their produce at competitive prices as well as provide
            consumers with quality farm products in a reliable, timely and efficient way.
        </p>
        <br>

        <h2>About Us</h2>
        <p class="mb-3">
            <strong>MazaoSoko</strong> comes from two Swahili words; <em>mazao</em> - produce and <em>soko</em> - market.
        </p> 
        
        <p>
            We try to foster economic growth of small and medium scale farmers by connecting them to prospective buyers.
        </p>

    </div>

{% endblock content %}