{% extends "layout.html" %}

{% load static %}


{% block content %}
<style>
    section {
        background-color: #f5f5f5;
        color: #555;
        min-height: 100vh;
    }

    .header {
        color: #8e8e93;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    }

    .card {
        padding: 2px;
    }

    a {
        text-decoration: none !important;
        color: black;
    }

    #border {
        border-left: 1px solid grey;
    }
</style>

<section>
    <br>
    {% if items %}
    <div class="container row" style="margin:0px;padding:0px;">
        <div class="col-md-2"></div>
        <div class="col-md-8 mx-auto mt-5">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" class="w-auto">Item Name</th>
                            <th scope="col" class="w-auto">Amount in Kshs</th>
                            <th scope="col" class="w-auto">Quantity</th>
                            <th scope="col" class="w-auto">Total Amount</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items%}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ item.product_name }}</td>
                            <td>{{ item.amount}}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.total_amount}}</td>
                            <td class="text-center">
                                <a href="{%url 'remove_from_cart' id=item.pk %}" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-inline">
                <h4 class="float-left">Total amount = Ksh. {{total}} </h4>
                <div class="float-right">
                    <a href="{% url 'index'%}" class="btn btn-sm btn-outline-success">Continue shopping</a>
                    <a href="{% url 'checkout' %}" class="btn btn-sm home-button ml-3">Proceed To Checkout</a>
                </div>
            </div>

        </div>
        <div class="col-md-2"></div>
        {% else %}
        <style>
            #items {
                margin-left: -125px;
                position: absolute;
                top: 50%;
                left: 50%;
                /* width: 250px; */
                height: 70px;
            }
        </style>
        <div class="container">
            <div id="items">
                <h3>You have no items in your cart</h3>
                <a href="/" class="btn btn-success">Go shopping</a>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}