{% extends "layout.html" %}

{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<style>
    .bs-example {
        margin: 20px;
    }

    .accordion .fa {
        margin-right: 0.5rem;
    }
</style>

<div id="checkoutPage" class="container">
    <!-- shipping method 1st accordion -->
    <div class="accordion" id="accordionExample">
        <div class="card mt-3">
            <div class="card-header" id="headerOne">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">
                        <i class="fas fa-plus"> Add a shipping method</i>
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-group">
                        <!-- shipment form  -->
                    </div>
                </div>
            </div>
        </div>
        <!-- lipa form 2nd accordion -->
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                        data-target="#collapseTwo"><i class="fa fa-plus"></i> Add a payment method</button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="overlay">
                        <form method="POST" id="lipa-form" class="container mt-3 col-sm-4">
                            {% csrf_token %}
                            {{form|crispy}}
                            <button class="btn" id="lipa" type="submit">Lipa</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<script>
    $(document).ready(function () {
        // Add minus icon for collapse element which is open by default
        $(".collapse.show").each(function () {
            $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
        });

        // Toggle plus minus icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function () {
            $(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
        }).on('hide.bs.collapse', function () {
            $(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
        });
    });
</script>

{% endblock %}