{% extends "layout.html" %}


{% load static %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-7 mx-auto my-auto error-content">
            <h3><i class="fas fa-exclamation-triangle mr-2 fa-lg warning-icon"></i>Something is wrong!</h3>
            <ul class="warning-list">
                <li>Check your internet connection.</li>
                <li>Make sure you have sufficient funds to make the payment.</li>
                <li>Ensure you key in your pin correctly.</li>
                <li>Make sure you provide a valid safaricom registered number.</li>
                <li>The phone number you are using is the one in your profile.</li>
            </ul>
            <a href="{% url 'view_cart' %}">Back To Cart</a>
        </div>
    </div>
</div>

{% endblock %}