{% extends "layout.html"%}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div id="top-bar">
            <h3>Our Products</h3>
            {% if user.is_authenticated %}
                <a href="{% url 'newProduct' %}" class="btn btn-md" id="addProduct">Add Product</a>
            {% endif %}
        </div>
        <hr>
        <div class="container">
            <div class="row" id="products">
            </div>
        </div>
    </div>
{% endblock content%}

