{% extends "layout.html"%}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="overlay">
        {{form.media}}
        <form class="container mt-3 col-sm-6" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form | crispy }}

            <button class="btn btn-md main-action-button" type="submit">Sell New Product</button>
        </form>
    </div>
    
</div>

{% endblock %}