{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <h2>Order History</h2>
        </div>
    </div>
    <div class="row">
        {% if order_payments %}
        {% for order in order_payments %}
            <div class="col-md-7 mx-auto">
                <div class="order-section my-2">
                    <div class="order-head" data-order-id = {{order.id}} style="display: flex; justify-content: space-between; height:40px; align-items: center; color: #fff; background-color: #0A7A1D; padding:0px 20px;">
                        <p style="margin: 0px;">Placed-{{ order.timestamp }}</p>
                        <i class="fas fa-angle-down fa-2x dropdown-opener"></i>
                    </div>
                    <div class="order-dropdown" style="display:none;">
                        <div id="hey" style="padding:10px 20px;"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <div class="col-md-7 mx-auto">
            <p>No orders placed yet.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}