{% extends "layout.html"%}
{% load static %}

{% block content %}
<style>
    img.d-block{
        height: 300px;
    }
    span.text-secondary{
        text-decoration: line-through;
    }
    p.no{
        text-decoration: none;
    }
</style>
<div class="container overlay">
    <div class="row">
        <div class="col-md-4">
            <!-- Carousel -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    {% if product.image1%}
                    <div class="carousel-item active">
                        <img src="{{product.image1}}" class="d-block img-thumbnail w-100" alt="...">
                    </div>
                    {% endif %}
                    {% if product.image2%}
                    <div class="carousel-item">
                        <img src="{{product.image2}}" class="d-block img-thumbnail w-100" alt="...">
                    </div>
                    {% endif %}
                    {% if product.image3%}
                    <div class="carousel-item">
                        <img src="{{product.image3}}" class="d-block img-thumbnail w-100" alt="...">
                    </div>
                    {% endif %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- Carousel -->
        </div>
        
        <!-- item descriptions go here  -->
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div data-id = {{product.pk}}>
                <h4><b>{{ product.product_name }}</b></h4>
                <h5 class="text-danger"><b id="price">Kshs {{ product.price}}</b> <span class="text-secondary mb-1"> 
                    {% if product.discount_price %}
                    Kshs {{ product.discount_price}}
                    {% endif %}
                </span></h5>
                <p>{{ product.product_description}}</p>
                <p style="margin: 0;"><b>Quantity</b></p>
                <p style="margin: 0;">{{product.quantity}} {{product.measurement_unit}} on stock.</p>
                
                <div style="display: flex; align-items: center;">
                    <input class="form-control col-md-3" type="number" name="" id="quantity-selector" min="1" max={{product.quantity}}><span class="ml-2">{{product.measurement_unit}}</span>
                </div>
                <h5 class="text-secondary mb-5">Order From {{product.current_location}} and Receive the item within 24 Hrs Countrywide</h5>
                <!-- <a id="seller-profile-link" href="#" data-target="#modal" data-toggle="modal">Seller's Profile</a> -->
                {% if user.is_authenticated %}
                <a id="add-to-cart" href="#" data-target="#shop-checkout-modal" data-toggle="modal" class="btn btn-warning my-0 p waves-effect waves-light">
                    Add to cart
                </a>
                {% else %}
                <a id="add-to-cart"  class="btn btn-warning my-0 p waves-effect waves-light">
                    Add to cart
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal" class="seller-profile">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Seller Profile</h3>
                <button type="button" class="close" data-dismiss="modal">&times</button>
            </div>
            <div class="modal-body">
                <img src="" style="width: 100px; height:100px;" id="seller-img" alt="seller-photo" class="img-fluid rounded-circle">
                <p id="seller-name"></p>
                <p id="seller-about"></p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="shop-checkout-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <a href="{% url 'index' %}" class="btn btn-sm btn-outline-success">Continue Shopping</a>
                    <a href="{% url 'checkout' %}" class="btn btn-sm home-button">Proceed To Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}