{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto" id="payment-success-div">
            <p><i class="fas fa-check-circle fa-5x green-element mb-2"></i></p>
            <h4>Payment made successfully!</h4>
            <p>You'll receive your order within 24 hours</p>
            <a class="alt-action-link" href="{% url 'index' %}">Continue Shopping</a>
        </div>
    </div>
</div>

{% endblock %}