{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if page_title %}
    <title>MazaoSoko - {{ page_title }} </title>
    {% else %}
    <title>MazaoSoko </title>
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Google fonts-->
    <!-- <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">

    <script>
        UPLOADCARE_PUBLIC_KEY = '1ccd122439f847bea921';
    </script>
    
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script> -->
</head>

<body>
    <div class="site-container">
        <!-- navbar begins-->
        <nav class="navbar">
            <div class="brand">
                <a href="{% url 'index' %}"><img src="{% static '/logos/vector/isolated-layout.svg' %}" width="90" height="60" alt="MazaoSoko"></a>
            </div>
            <ul>
                <li><a href="{% url 'index' %}">Market</a></li>

                {% if user.is_anonymous %}
                    <li><a href="{% url 'register' %}">Sell</a></li>
                {% endif %}

                <li><a href="{% url 'about' %}">About</a></li>
                
                <li id="cart">
                    <a href="{% url 'view_cart' %}" class="cart-link"><i class="fas fa-cart-plus"><span class="badge cart-count"></span></i></a>
                </li>

                {% if user.is_authenticated %}
                <div id="user-section">
                    <p id="user-greeting">
                        Hi {{user.username}} 
                        <span><i class="fas fa-caret-down" id="drop-down-icon"></i></span>
                    </p>

                    <div class="dropdown pl-4">
                        {% if user.profile.prof_image %}
                        <img src="{{ user.profile.prof_image }}" alt="profile-img" id="nav-profile-pic" class="rounded-circle img-fluid">
                        {% else %}
                        <img src="/static/images/default.svg" alt="profile-img" id="nav-profile-pic" class="rounded-circle img-fluid">
                        {% endif %}
                        <p><a href="{% url 'view_profile' %}">Profile</a></p>
                        <p><a href="{% url 'order_history' %}">Order History</a></p>
                        <p><a href="{% url 'logout' %}" class="logout">Log out</a></p>
                    </div>
                </div>
                {% endif %}
            </ul>

            <a class="cart-link" href="{% url 'view_cart' %}"><i id="sd-cart" class="fas fa-cart-plus"><span class="badge cart-count"></span></i></a>
            
            <div class="menu">
                <div class="bar" id="bar1"></div>
                <div class="bar" id="bar2"></div>
                <div class="bar" id="bar3"></div>
            </div>

        </nav>
        
        <div class="small-menu">
            <ul>
                {% if user.is_authenticated %}
                    <!-- <img src="" alt="profile-img" id="sm-user-profile" class="rounded-circle img-fluid mb-2"> -->
                    {% if user.profile.prof_image %}
                    <img src="{{ user.profile.prof_image }}" alt="profile-img" id="sm-user-profile" class="rounded-circle img-fluid">
                    {% else %}
                    <img src="/static/images/default.svg" alt="profile-img" id="sm-user-profile" class="rounded-circle img-fluid">
                    {% endif %}
                {% endif %}

                {% if user.is_authenticated %}
                    <li><a href="{% url 'index' %}">Market</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'view_profile' %}">Profile</a></li>
                    <li><a href="{% url 'order_history' %}">Order history</a></li>
                {% endif %}

                {% if user.is_anonymous %}
                    <li style="margin-right: 50px;"><a href="{% url 'register' %}">Sell</a></li>
                {% endif %}

                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="logout">Log out</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}

            </ul>
        </div>
        <!-- navbar ends-->
        <div class="content">
            {% block content %}
            {% endblock content%}
        </div>

        <!-- Footer -->
        <footer class="footer" id="footer">
            <p class="h6">Mazaosoko &copy 2020 All Rights Reserved.</p>
        </footer>
        <!-- ./Footer -->
        
    </div>
    <script src="{% static 'js/jq.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script>

        $(function () {


        // This function gets cookie with a given name
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        /*
        The functions below will create a header with csrftoken
        */

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        });

        var username = "{{user}}";


        $(document).ready(function () {

            $("#user-section").hover(function (e) {
                $(this).addClass("hovered");
                $(".dropdown").slideDown();

            }, function (e) {
                $(this).removeClass("hovered");
                $(".dropdown").slideUp();
            })

            // menu code
            var clicked = false;

            $(".menu").on("click", function (e) {
                if (clicked) {
                    $(this).toggleClass("change");
                    $(".small-menu").slideUp();
                    clicked = false;
                } else {
                    $(this).toggleClass("change");
                    $(".small-menu").slideDown();

                    clicked = true;

                    // if (username !== "AnonymousUser"){
                    //     var fetchProfile = $.ajax({
                    //         "url": "/account/fetch-profile/" + username + "/"
                    //     });

                    //     fetchProfile.done(function (data) {
                    //         var imgUrl = "http://" + window.location.host + data.url;
                    //         $("#sm-user-profile").attr("src", imgUrl);
                    //     })
                    // }
                }
            })


        })


        $("document").ready(function(e){
            if (window.location.pathname == "/"){
                $.ajax({
                    "url":"fetch-updates/",
                    "success":function(data){
                        var cleanData = JSON.parse(data);
                        $("#products").children().remove();
                        if (cleanData.length === 0){
                            var container = document.createElement("p");
                            container.innerText = "No products."
                            document.getElementById("products").appendChild(container);
                        }else{
                            for (var i = 0;i<cleanData.length;i++){
                                document.getElementById("products").appendChild(addProduct(cleanData[i]));
                            }
                        }

                        setInterval(function(){
                            $.ajax({
                                "url":"fetch-updates/",
                                "success":function(data){
                                    var cleanData = JSON.parse(data);
                                    $("#products").children().remove();
                                    if (cleanData.length === 0){
                                        var container = document.createElement("p");
                                        container.innerText = "No products."
                                        document.getElementById("products").appendChild(container);
                                    }else{
                                        for (var i = 0;i<cleanData.length;i++){
                                            document.getElementById("products").appendChild(addProduct(cleanData[i]));
                                        }
                                    }
                                }
                            })
                        },30000)
                    }
                })

            }
        })


        function addProduct(data){

            var container = document.createElement("div");

            container.classList.add("col-md-4");

            container.classList.add("col-lg-3");

            var productLink = document.createElement("a");

            productLink.href = "product/"+data.pk+"/";

            productLink.classList.add("product-link");

            var productSection = document.createElement("div");

            productSection.classList.add("product-section");

            productSection.classList.add("card");

            var imageWrapper = document.createElement("div");

            var productImage = document.createElement("img");

            var url = data.fields.image1;

            productImage.src = url;

            productImage.classList.add("img-fluid");

            productImage.classList.add("product-image");

            productImage.classList.add("card-img-top");

            productLink.appendChild(productSection);

            imageWrapper.appendChild(productImage);

            productSection.appendChild(imageWrapper);

            var productBody = document.createElement("div");

            productBody.classList.add("card-body");

            var productName = document.createElement("h5");

            productName.classList.add("card-title");

            productName.classList.add("product-name");

            productName.innerText = data.fields.product_name;

            productBody.appendChild(productName);

            var productDescription = document.createElement("p");

            productDescription.classList.add("card-text");

            productDescription.classList.add("mb-3");

            productDescription.classList.add("product-desc");

            productDescription.innerText = data.fields.product_description;

            productBody.appendChild(productDescription);

            var moreLink = document.createElement("a");

            moreLink.href = "product/"+data.pk+"/";

            moreLink.innerText = "More"

            moreLink.classList.add("more-link");

            productBody.appendChild(moreLink);

            var orderButton = document.createElement("button");

            orderButton.href = "product/"+data.pk+"/";

            orderButton.innerText = "Buy"

            orderButton.classList.add("order-button");

            orderButton.classList.add("btn");

            orderButton.classList.add("btn-md");

            productBody.appendChild(orderButton);

            productSection.appendChild(productBody);

            container.appendChild(productLink)

            return container;
            
        }

        $("#quantity-selector").keydown(function(e){
           $.ajax({
                "type":"POST",
                "url":"/verify-quantity/",
                "data":{"id":$(this).parent().parent().data().id},
                "dataType":"json",
                "success":function(data){
                    if (parseInt($("#quantity-selector").val()) > parseInt(data.quantity)){
                        $("#quantity-selector").val("");
                        return;
                    }
                }
            })
        })


        $("#add-to-cart").on("click",function(e){
            if (username === "AnonymousUser"){
                window.location.pathname = "/account/login/";
            }else{
                if ($("#quantity-selector").val() === ""){
                    return;
                }
                $.ajax({
                "type":"post",
                "url":"/add-to-cart/"+$(this).parent().data().id+"/",
                "data":{"quantity":$("#quantity-selector").val(),"price":$("#price").text()},
            })
            }
        })


        $("#lipa").on("click",function(e){
            if ($("#id_phone_number").val() === ""){
                $("#id_phone_number").css("border","1px solid red");
                return;
            }
            $("#lipa").text("Processing...").attr("disabled",true);
            $.ajax({
                "url":"/lipa/",
                "data":$("#lipa-form").serialize(),
                "success":function(data){
                    window.location.pathname = "/payment-redirect/";
                    
                }       
            })
        })


        // setInterval(function(){

        //     $.ajax({
        //         "url":"/update-cart/",
        //         "dataType":"json",
        //         "success":function(data){
        //             if (parseInt(data.count)>0){
        //                 $(".cart-count").text(data.count);
        //             }else{
        //                 return;
        //             }
        //         }
        //     })

        // },5000)


        $("#seller-profile-link").on("click",function(){
            $.ajax({
                "url":"/account/view-seller-profile/"+$(this).parent().data().id,
                "dataType":"json",
                "success":function(data){
                    var parsedData = JSON.parse(data);
                    var url = "/media/"+parsedData[0].fields.image;

                    $("#seller-img").attr("src",url);
                    $("#seller-name").text(parsedData[0].fields.username);
                    $("#seller-about").text(parsedData[0].fields.about);
                }
            })
        })


        $(".dropdown-opener").on("click",function(e){
            $(this).parent().toggleClass("order-open");
            if ($(this).parent().hasClass("order-open")){
                var container = $(this).parent().next();
                $(this).removeClass("fas fa-angle-down");
                $(this).addClass("fas fa-angle-up");
                $(this).parent().parent().children().last().slideDown("fast");
                
                var orderId = $(this).parent().data().orderId;

                $.ajax({
                    "url":"/fetch-order/"+orderId+"/",
                    "dataType":"json",
                    "success":function(data){
                        var parsedData = JSON.parse(data);
                        
                        var ordersSection = container.children().first();

                        ordersSection.children().remove();

                        for (var i = 0;i<parsedData.length;i++){
                            
                            var orderItemContainer = document.createElement("p");

                            var itemName = document.createElement("p");
                            
                            itemName.innerText = parsedData[i].fields.product_name;

                            var itemPrice = document.createElement("p");

                            itemPrice.innerText = "kshs."+parsedData[i].fields.total_amount;

                            orderItemContainer.appendChild(itemName);

                            orderItemContainer.appendChild(itemPrice);

                            orderItemContainer.style.display = "flex";

                            orderItemContainer.style.justifyContent = "space-between";

                            orderItemContainer.style.alignItems = "center";

                            ordersSection.append(orderItemContainer);
                        }
                    }
                })
            }else{
                $(this).parent().parent().children().last().slideUp();
                $(this).removeClass("fas fa-angle-up");
                $(this).addClass("fas fa-angle-down");
            }
        })


        $("#reset-password-btn").on("click",function(e){
             $.ajax({
                 "url":"/account/request-password-reset/",
                 "dataType":"json",
                 "data":$("#reset-password-form").serialize(),
                 "success":function(data){
                    var parsedData = JSON.parse(data);
                 }
             })
        })



        if (window.location.pathname == "/account/password-reset/"){
            $("#id_email").on("keyup",function(e){
                var emailString = $("#id_email").val();
                if (emailString.endsWith(".com")){
                    $("#validate-email-text").css("display","initial");
                    $.ajax({
                        "url":"/account/validate-email/",
                        "data":{"email":$("#id_email").val()},
                        "success":function(data){
                            var parsedData = JSON.parse(data);
                            if (parsedData.exists){
                                setTimeout(function(){
                                    $("#validate-email-text").css("display","none");
                                },2000)
                                $("#reset-password-btn").css("display","initial");
                            }else{
                                $("#email-not-found").text("Email not found in our system!");
                                setTimeout(function(){
                                    $("#email-not-found").text("");
                                },2000)
                                setTimeout(function(){
                                    window.location.pathname = "/account/password-reset/";
                                },2000)
                                
                            }
                        }
                    })
                }
               
            })
        }


        if (window.location.pathname.indexOf("new-password") !== -1){
            $("#set-new-password").on("click",function(e){
                e.preventDefault();
                if($("#id_new_password").val() !== $("#id_confirm_password").val()){
                    $("#password-check").css("display","initial");
                    setTimeout(function(){
                        $("#password-check").css("display","none");
                    },2000)             
                    return;
                }else{
                    var new_password = $("#id_confirm_password").val();
                    var userId = parseInt(window.location.pathname.trim().split("/")[3]);
                    $.ajax({
                        "url":"/account/set-new-password/",
                        "dataType":"json",
                        "data":{"new_password":new_password,"user_id":userId},
                        "success":function(data){
                            var parsedData = JSON.parse(data);

                            if (parsedData.changed){
                                window.location.pathname = "/account/login/";
                            }
                        }
                    })
                }
            })
        }
       

    </script>
</body>

</html>